@import url("file:///home/sol_/.config/swayosd/colors.css");

window#osd {
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid @outline;
  background: alpha(@background, 0.85);
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: @tertiary;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@surface_variant, 0.5);
}

window#osd progress {
  border-radius: inherit;
  background: @tertiary;
}

